{% extends 'base.html' %}

{% block title %}playlist transfers.{% endblock %}

{% block content %}
<div class="playlist-transfer-container">
    <div class="playlist-transfer-intro">
        <div class="page-header"> 
            <div><span class="gradient-text" style="font-size: 2rem;">::playlist transfers::</span></div>
            <p style="margin-top: 8px; font-size: 1.5rem;">transfer your playlists between your different music services. select which service you'd like to transfer from in the <span class="gradient-text">::from::</span> section, and then select the service you'd like to transfer to in the <span class="gradient-text">::to::</span> section.</p>
        </div>
    </div>
    <div class="playlist-transfer-display-container">
        <div class="playlist-transfer-selection-container from-container">
            <div class="playlist-transfer-list-header">
                <div><span class="gradient-text" style="font-size: 1.8rem;">::from::</span></div>
                <div onclick="toggleDropdown('from-container')" class="selected-value from-value">
                    <span>
                        select service to transfer from.
                    </span>
                    <span class="material-symbols-outlined" id="dropdownCaret">
                        arrow_drop_down
                    </span>
                </div>
            </div>
            <div class="playlist-transfer-options-container">
                <div class="custom-options from-options">
                    <div class="option"
                        onclick="selectOption('from-container', 'spotify.', '../static/assets/spotify_icon.png')"
                    >
                        <img src="{{ url_for('static', filename='../static/assets/spotify_icon.png') }}" class="service-logo">
                        <span>spotify.</span>
                    </div>
                    <div class="option"
                        onclick="selectOption('from-container', 'youtube.', '../static/assets/yt_icon.png')"
                    >
                        <img src="{{ url_for('static', filename='../static/assets/yt_icon.png') }}" class="service-logo">
                        <span>youtube.</span>
                    </div>
                </div>
                <div id="playlistContainer"></div>
            </div>
        </div>
        <div style="display: flex; flex-direction: column;">
            <span class="material-symbols-outlined" style="transform: scale(2.5);">
                multiple_stop
            </span>
            <div class="login-connection-container" style="width: 220px; margin: 30px 15px 30px 15px;">
                <a href="{{ url_for('main.index') }}" class="login-button" style="padding: 6px;">
                    <span class="material-symbols-outlined" style="margin-right: 4px;">
                        sound_sampler
                    </span>
                    <span>begin transfer.</span> 
                </a>
            </div>
        </div>
        <div class="playlist-transfer-selection-container to-container">
            <div class="playlist-transfer-list-header">
                <div><span class="gradient-text" style="font-size: 1.8rem;">::to::</span></div>
                <div onclick="toggleDropdown('to-container')" class="selected-value to-value">
                    <span>
                        select service to transfer to.
                    </span>
                    <span class="material-symbols-outlined" id="dropdownCaret">
                        arrow_drop_down
                    </span>
                </div>
            </div>
            <div class="playlist-transfer-options-container">
                <div class="custom-options to-options">
                    <div class="option"
                        onclick="selectOption('to-container', 'spotify.', '../static/assets/spotify_icon.png')"
                    >
                        <img src="{{ url_for('static', filename='../static/assets/spotify_icon.png') }}" class="service-logo">
                        <span>spotify.</span>
                    </div>
                    <div class="option"
                        onclick="selectOption('to-container', 'youtube.', '../static/assets/yt_icon.png')"
                    >
                        <img src="{{ url_for('static', filename='../static/assets/yt_icon.png') }}" class="service-logo">
                        <span>youtube.</span>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
{% endblock %}
