{% extends 'base.html' %}

{% block title %}your playlists.{% endblock %}

{% block content %}
<div class="playlist-container">
    <div class="playlist-intro">
        <div class="page-header"> 
            <div><span class="gradient-text" style="font-size: 2rem;">::your playlists::</span></div>
            <p style="margin-top: 8px;">view information about your playlists. click on one of the music services in the tabs below below to see your playlists on that service. </p>
        </div>
    </div>
    <div class="playlist-display-container">
        <div class="playlist-list">
            <div class="playlist-tabs">
                <a class="tab-active"><img src="{{ url_for('static', filename='../static/assets/spotify_icon.png') }}" style="height: 30px; width: auto; margin: auto;"></a>
                <a class="tab" href="{{ url_for('main.show_youtube_playlists') }}"><img src="{{ url_for('static', filename='../static/assets/yt_icon.png') }}" style="height: 40px; width: auto; margin: auto;"></a>
            </div>
            <div class="playlist-list-header">
                <img src="{{ url_for('static', filename='../static/assets/spotify_logo_white.png') }}" style="width: auto; height: 50px; display: flex;">
            </div>
            <div class="playlist-item-container">
                <ul>
                    {% for playlist in playlists %}
                        <li class="playlist-item">
                            <a href="{{ url_for('main.show_spotify_playlist_tracks', playlist_id=playlist['id']) }}" class="playlist-link">
                                {{ playlist['name'] }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>  
</div>
{% endblock %}