{% extends 'base.html' %}

{% block title %}your playlists.{% endblock %}

{% block content %}
<div class="playlist-container">
    <div class="playlist-intro">
        <p> 
            <span class="gradient-text">::your playlists::</span>
            contains details on your music libraries. see information about your playlists across different music services. click on one of your playlist tabs below to view your playlists. 
        </p>
    </div>
    <div class="playlist-display-container">
        <div class="playlist-list">
            <div class="playlist-tabs">
                <a class="tab" href="{{ url_for('main.show_spotify_playlists', page=1) }}"><img src="{{ url_for('static', filename='assets/Spotify_Icon_RGB_Green.png') }}" style="height: 22px;"></a>
                <a class="tab-active"><img src="{{ url_for('static', filename='assets/unnamed.png') }}" style="height: 24px;"></a>
            </div>
            <ul>
                <img src="{{ url_for('static', filename='assets/yt_logo_rgb_dark.png') }}" style="width: auto; height: 40px; display: flex; margin-bottom: 20px;">
                {% for playlist in playlists %}
                    <li class="playlist-item">
                        <a href="{{ url_for('main.show_youtube_playlist_tracks', playlist_id=playlist['id']) }}" class="playlist-link">
                            {{ playlist['title'] }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="pagination">
                {% for page_num in range(1, (total_playlists // per_page) + 2) %}
                    {% if page_num == current_page %}
                        <span>{{ page_num }}</span>
                    {% else %}
                        <a href="{{ url_for('main.show_youtube_playlists', page=page_num) }}">{{ page_num }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>  
</div>
{% endblock %}

