{% extends 'base.html' %}

{% block title %}soundbridge: {{ playlist_name }}{% endblock %}

{% block content %}
<div class="track-table-container">
    <div style="display: flex;" class="track-page-header-container">
        <img src="{{ url_for('static', filename='../static/assets/yt_logo.png') }}" style="width: auto; height: 45px; display: flex; flex-direction: row; align-items: center;">
        <div class="track-intro">
            <div class="gradient-text" style="font-size: 1.8rem;">::{{ playlist_name }}::</div>
            <p style="font-size: 1.3rem;"> 
                see every track on this playlist in the table below.
            </p>
        </div>
    </div>
    <table class="playlist-table">
        <thead>
            <tr>
                <th>track name.</th>
                <th>artist/uploader.</th>
                <th>duration.</th>
            </tr>
        </thead>
        <tbody>
            {% for item in tracks %}
                <tr>
                    <td>{{ item['title'] }}</td>
                    <td>{{ item['artist']}}</td>
                    <td>{{ item['duration'] | parse_duration }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>    
{% endblock %}
