
/* base */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.1em;
    background-color: #34184a;
}

/* components */
.header, .footer {
    padding: 1rem;
}

/* utils */
.hidden {
    display: none;
}

/* layout */
.container {
    width: 80%;
    margin: auto;
}

.logo-img {
    height: 90px; 
    width: 120px;
    scale: 100%;
    margin-top: 5px;
    transition: scale, 0.2s
}

.logo-img:hover {
    height: 90px; 
    width: 120px;
    scale: 105%;
    transition: scale, 0.2s
}

.navbar {
    position: fixed;
    top: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #764b81;
    width: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .33);
    z-index: 50;
}

.navbar p {
    font-size: 1.5rem;
    color: white;
    align-items: center;
    justify-content: center;
    text-shadow: 1.5px 1.5px rgba(0, 0, 0, .66);
    background: #764b81;
    cursor: pointer;
    scale: 100%;
    transition: scale 0.2s;
    margin: auto;
    margin-right: 24px;
}

.navbar p:hover {
    font-size: 1.5rem;
    color: white;
    align-items: center;
    justify-content: center;
    text-shadow: 2.5px 2.5px rgba(0, 0, 0, .9);
    background: #764b81;
    cursor: pointer;
    scale: 105%;
    transition: scale 0.2s;
    margin: auto;
    margin-right: 24px;
} 

/* responsivity */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}
  