
.playlist-container {
    text-align: center;
    width: 100%;
    color: white;
}

.playlist-display-container {
    display: flex;
}

.playlist-intro {
    margin-top: 128px;
}

.playlist-intro p {
    width: 60%;
    color: white;
    font-size: 1.5rem;
    margin: 0 auto;
    margin-top: 72px;
    margin-bottom: 36px;
    text-shadow: 2px 2px black;
}

.playlist-list {
    display: flex;
    margin: 0 auto;
    width: 70%;
    flex-direction: column;
    justify-content: center;
}

.playlist-list ul {
    position: relative;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 12px;
    margin: auto;
    margin-bottom: 32px;
    list-style-type: none;
    height: 399px;
    border-radius: 2px;
    background-color: #764b81;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

.playlist-item-container {
    width: 79%;
    margin: auto;
}

.playlist-item {
    background-color: #f0f0f0; /* Light grey background */
    border-radius: 2px;
    margin: 12px;
    padding: 4px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    
}

.playlist-link {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 4px;
}

.playlist-link:hover {
    background-color: #ddd;
    border-radius: 2px;
}

.playlist-tabs {
    text-align: start;
    margin: auto;
    display: flex;
    width: 78%;
}

.tab {
    display: flex;
    height: 50px;
    width: 60px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 1;
    align-items: center;
    translate: 0px 0px;
    transition: translate 0.2s;
    font-size: 1.2rem;
    margin-right: 1px;
}

.tab:hover {
    translate: 0px 2px;
    background-color: #e0dfdf;
    transition: background-color, translate 0.2s;
    cursor: pointer;
}

.tab-active {
    display: flex;
    height: 50px;
    width: 60px;
    background-color: #764b81;
    color: black;
    text-decoration: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 1;
    align-items: center;
    translate: 0px 2px;
    transition: translate 0.2s;
    font-size: 1.2rem;
    margin-right: 1px;
}

.playlist-list-header {
    position: sticky;
    background-color: #764b81;
    padding: 24px;
    width: 76%;
    margin: auto;
    z-index: 10;
    box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
}
