
.playlist-transfer-container {
    text-align: center;
    width: 100%;
    color: white;
    padding-top: 36px;
}

.playlist-transfer-intro {
    margin-top: 36px;
}

.playlist-transfer-intro p {
    width: 60%;
    color: white;
    font-size: 1.5rem;
    margin: 0 auto;
    margin-top: 72px;
    margin-bottom: 36px;
    text-shadow: 2px 2px black;
}

.playlist-transfer-display-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; 
    font-size: 1.5rem;
}

.playlist-transfer-selection-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 2px solid white;
    padding: 10px;
    margin: 40px;
    background: #342e5e;
    position: relative;
    height: 320px;
}

.custom-select {
    position: relative;
    width: 90%;
    cursor: pointer;
    font-size: 1.1rem;
    
}

.selected-value {
    padding: 10px;
    background: #442d65;
    color: white;
    border: none;
    font-size: 1.1rem;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.custom-options {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    background: #2D2D2D;
    color: white;
    display: none;
    z-index: 10;
    font-size: 1.1rem;
    text-align: start;
    cursor: pointer;
    width: 85%;
    margin-left: 10px;
    border: 1px solid white;
}

.option {
    padding: 10px;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #442d65;
}

.service-logo {
    height: 22px;
    margin-right: 12px;
    margin-left: 8px;
}

.option:hover {
    background-color: #2c1f40;
}
