
.playlist-transfer-container {
    text-align: center;
    width: 100%;
    color: white;
    margin-bottom: 36px;
}

.playlist-transfer-intro {
    width: 60%;
    color: white;
    font-size: 1.5rem;
    margin: 0 auto;
    margin-top: 72px;
    margin-bottom: 36px;
    text-shadow: 2px 2px black;
}

.playlist-transfer-display-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; 
    font-size: 1.5rem;
}

.playlist-transfer-selection-container {
    position: relative;
    width: 45%;
    margin: 10px;
}

.custom-select {
    position: relative;
    width: 90%;
    cursor: pointer;
    font-size: 1.2rem;
    
}

.selected-value {
    padding: 10px;
    background: #4e4678;
    color: white;
    border: none;
    font-size: 1.2rem;
    margin: 10px;
    border: 1px solid white;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.custom-options {
    position: absolute;
    top: 94px;
    left: 0;
    right: 0;
    background: #4e4678;
    color: white;
    display: none; 
    z-index: 1000; 
    font-size: 1.2rem;
    text-align: start;
    cursor: pointer;
    width: 60%;
    border: 1px solid white;
    margin-left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.option {
    font-size: 1.2rem;
    padding: 10px;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #4e4678;
}

.service-logo {
    height: 22px;
    margin-right: 12px;
    margin-left: 8px;
}

.option:hover {
    background-color: #38315c;
}

.playlist-transfer-link {
    background-color: white;
    text-decoration: none;
    color: #333;
    display: block;
    padding: 4px;
    margin: 8px;
    font-size: 1.2rem;
}

.playlist-transfer-link:hover {
    background-color: #ddd;
    border-radius: 2px;
}

.playlist-transfer-list-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #764b81;
    box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.4);
    padding: 10px;
}

.playlist-transfer-options-container {
    width: 98%;
    margin: auto;
    background: #764b81;
    height: 320px;
    overflow-y: auto;
}
